<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
    <div class="card mb-3">
        <img class="card-img-top" src="../static/mypicture.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">가장 귀여운 동물</h5>
            <p class="card-text">이 아이는 ___입니다. 저희 집에서 귀여움을 담당하고 있습니다. </p>
        </div>
    </div>
</body>
</html>