<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sparta Vocabulary Notebook</title>
    <meta property="og:title" content="Sparta Vocabulary Notebook"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='logo_red.png') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>main page</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        #post-box {
            width: 500px;
            margin: 30px auto;
            padding: 50px;
            border: white solid;
            border-radius: 5px;
        }

        .search-box {
            width: 70%;
            margin: 50px auto;
            max-width: 700px;

        }

        .mytitle {
            margin: 30px;
            padding: 60px;
            text-align: center;

        }

        .lead {
            margin: 30px 30px 0px 0px;
        }

        .lead > button {
            margin-right: 20px;
        }

        .custom-file {
            margin: 0px 0px 20px 0px;
        }


    </style>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
            listing()
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/diary",
                data: {},
                success: function (response) {
                    let diaries = response['all_diary']
                    for (let i = 0; i < diaries.length; i++) {
                        let title = diaries[i]['title']
                        let content = diaries[i]['content']
                        let file = diaries[i]['file']
                        let time = diaries[i]['time']

                        let temp_html = `<div class="card">
                                            <img src="../static/${file}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">${title}</h5>
                                                <p class="card-text">${content}</p>
                                                <p class="save-date">${time}</p>
                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function posting() {
            let title = $('#title').val()
            let content = $("#content").val()

            let file = $('#file')[0].files[0]
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("title_give", title)
            form_data.append("content_give", content)

            $.ajax({
                type: "POST",
                url: "diary",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function post_filter() {
            let search_keyword = document.getElementById("search").value.toLowerCase(); //소문자로 검색어 받아오기
            let postList = document.getElementsByClassName("card-box");

            for (let i = 0; i < postList.length; i++) {
                let postName = postList[i].getElementsByClassName('title');
                if (postName[0].innerText.toLowerCase().indexOf(search_keyword) != -1) {
                    postList[i].style.display = "flex"
                } else {
                    postList[i].style.display = "none"
                }
            }
        }

        function openClose() {
            if ($("#post-box").css("display") == "block") {
                $("#post-box").hide();
                $("#btn-post-box").text("작성하기");
            } else {
                $("#post-box").show();
                $("#btn-post-box").text("작성닫기");
            }
        }
    </script>
</head>

<body>
<div class="wrap">
    <div class="container">
        <div class="lead gap-2 d-md-flex justify-content-md-end">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-outline-warning">작성하기</button>
            <button type="button" class="btn btn-outline-dark">로그아웃</button>
        </div>
        <h1 class="mytitle">Facedog</h1>
        <div class="search-box d-flex justify-content-center">
            <input id="input-word" class="form-control" style="margin-right: 0.5rem">
            <button class="btn btn-light" onclick="post_filter()"><i class="fa fa-search"></i></button>
        </div>
        <div id="post-box" class="form-post" style="display:none">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file">
                <label class="custom-file-label" for="file">사진 선택하기</label>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="title" placeholder="사진 제목">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="content" rows="3" placeholder="내용 입력"></textarea>
            </div>
            <button onclick="posting()" type="button" class="btn">저장</button>
        </div>
    </div>
</div>
<div class="card-columns" id="cards-box" style="width: 50rem;">
</div>

<a href="/subpage">들어가기</a>
<tr>
    <td>
        <button type="button" class="btn btn-secondary" onclick="delete_word()"> 삭제</button>
    </td>
</tr>
</body>
</html>

